<div class="splash-container landing-page">
    <div class="splash">
        <h1 class="splash-head">Transform Your Career</h1>
        <p class="splash-subhead">
            Practice Your Interview Skill, LIVE.
        </p>
        <p>
            <a href="/signup" class="pure-button pure-button-primary">Get Started</a>
        </p>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">You Have Done the Hard Learning, Now Learn How to Present Them to Employers.</h2>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    Get Started Quickly
                </h3>
                <p>
                    Sign up for an account in few seconds and have access to hundreds of real web developer and software engineer interview questions, with recommended resources and user submitted answers.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-comments"></i>
                    Crowdsourcing
                </h3>
                <p>
                    Real users submitting real interview questions they have encouterred while their job hunting process.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-eye"></i>
                    Record Your Interview Response, LIVE
                </h3>
                <p>
                    Our innovative interview answer recorder will record your audio response and play back your text input response cocurrently. Other users will also able to review your response and provide feedback.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-users"></i>
                    Win the Game Together
                </h3>
                <p>
                    We know how hard it is to go through the job hunting process, that is the reason we created this supportive community so you don't have to do it alone.
                </p>
            </div>
        </div>
    </div>

<div class="footer l-box is-center">
    Made with love by <a href="http://shinshinwu.github.io" target="_blank">Anna Wu</a> and <a href="http://germinario.io" target="_blank">Jesse Germinario</a>
</div>