<header>
  <nav>
    <ul>
      <li><%= link_to "Sign Up", signup_path %></li>
      <li><%= link_to "Log In", '#' %></li>
    </ul>
  </nav>
</header>


<h1>This is the landing page for CareerBootcamp</h1>
<h2>A place where you can view and practice interview questions live!</h2>