// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

    button {
      width: 30px;
      height: 30px;
    }
    audio {
      margin-left: 200px;
    }
    .record-inactive {
      background-color: red;
      border-radius: 50px;
    }
    .record-active {
      background-color: grey;
      border-radius: 0px;
    }
    .record-paused {
      background-color: blue;
      border-radius: 0px;
    }
    .record:active, .record:focus {
      outline: 0;
      border:0;
    }
    .play {
      margin-top: 20px;
    }
    .play-inactive {
      background-color: transparent;
      width: 0;
      height: 0;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-left: 30px solid green;
    }
    .play-active {
      width: 30px;
      height: 30px;
      background-color: red;
    }
    .play-paused {
      width: 30px;
      height: 30px;
      background-color: blue
    }
    .playback-text{
      color: green;
    }
    .code-playback{
      background-color: #E6F5EB;
    }
    textarea {
      display: block;
    }
    .code-area {
      width: 100%;
      height: 10rem;
      max-height: 10rem;
      overflow-y: scroll;
      font-size: .85em;
      line-height: 1.2;
    }
    .code-disabled {
      background-color: lightgrey;
    }
    .hide {
      display: none;
    }
    .right {
      float: right;
    }
    .left {
      float: left;
    }
    .center {
      margin: 0 auto;
      display: inline-block;
    }
    .center-align {
      text-align: center;
    }
    .list {
      padding-left: 0;
    }
    .hack-left {
      width: 66%;
    }
    .resource {
      font-size: 0.85em;
    }